Hello {{ x }}!
{%- jobj cached schema %}
- 1
- [a,b,c]
- v: 1
  b:
    $cls: "collections:deque"
    $args: [[1, 2, 3, 4]]
  y:
    {%- if y > 0 %}
    amnyam: {{ y }}
    {%- else %}
    amnyam: {{ y + 4 }}
    {% endif %}
    da:
      net: 1
      pytoh:
      - $cls: "collections:deque"
        maxlen: 8
  z: "{{ z.data }}"
{% endjobj %}
